$error: #F17A7A;
$fatal: #f00;
$info: #876EEB;
$debug: #44AF55;
$critical: #000;
$warning: #ff0;

@mixin levels {
  &.fatal {
    background-color: $fatal;
    color: #fff;
  }
  &.critical {
    background: $critical;
    color: #fff;
  }
  &.info {
    background: $info;
    color: #fff;
  }
  &.error {
    background-color: $error;
  }
  &.warn {
    background-color: $warning;
  }
}

.empty {
  background-color: #000;
  color: #fff;
  width: 95%;
  margin: auto;
  padding: 12px;
  border-radius: 8px;
}

.log {
  .level {
    padding: 4px;
    width: 11%;
    border-radius: 4px 0 0 4px;
    text-align: center;
    border: 1px solid #ccc;
    @include levels();
  }

  .logText {
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    width: 89%;
    padding: 4px;
  }
}

.expandedLog {
  @include levels();

  padding: 8px 16px;
  border-radius: 8px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .title {
    height: 10%;
    font-family: "Inter",sans-serif;
    padding-bottom: 25px;
  }

  .logMessage {
    min-height: 130px;
    padding: 8px;
    background-color: #EAE5E5;
    color: #000;
  }
}