@use '../../styles/colors';

.TopNav {
  padding: 8px;
  // background-color: colors.$sidenavColor;
  @include colors.bgaccent;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}