$primaryColor: #fff;
$accentColor: lighten(teal, 20%);
$sidenavColor: #0c1d7e;

@mixin bgprimary {
  background-color: $primaryColor;
}

@mixin bgaccent {
  background-color: $accentColor;
}

.bg-primary {
  @include bgaccent;
}