@import 'colors';

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &.between {
    justify-content: space-between;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 calc(100% / 12) * $i;
  }
}

@for $i from 1 through 5 {
  .p-#{$i} {
    padding: #{$i * 0.25}rem;
  }

  .pt-#{$i} {
    padding-top: #{$i * 0.25}rem;
  }

  .pr-#{$i} {
    padding-right: #{$i * 0.25}rem;
  }

  .pb-#{$i} {
    padding-bottom: #{$i * 0.25}rem;
  }

  .pl-#{$i} {
    padding-left: #{$i * 0.25}rem;
  }

  .m-#{$i} {
    margin: #{$i * 0.25}rem;
  }

  .mt-#{$i} {
    margin-top: #{$i * 0.25}rem;
  }

  .mr-#{$i} {
    margin-right: #{$i * 0.25}rem;
  }

  .mb-#{$i} {
    margin-bottom: #{$i * 0.25}rem;
  }

  .ml-#{$i} {
    margin-left: #{$i * 0.25}rem;
  }
}

.rest {
  flex: 1;
}

.center {
  text-align: center;
}

.btn {
  background-color: $sidenavColor;
  padding: 6px 8px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 1.1em;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
  
  &:active {
    box-shadow: none;
  }
}

.circle {
  border-radius: 50%;
}