@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

@import 'styles/util';
@import 'styles/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  @include bgprimary;
}

.container {
  padding: 1em;
}

.h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.main {
  margin-left: 250px;
}

p {
  max-width: 100%;
  word-wrap: break-word;
}
